{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="six column" style="margin-top: 25%">
        <h4>Claritag</h4>
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
{% endblock %}
