{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="six column" style="margin-top: 25%">
        <h4>Claritag</h4>
        <p>{{ message }}</p>
		{% if session['access_token'] %}
		<p style="color:red">{{ session['access_token'] }}</p>
		{% else %}
		<a href="/dropbox-auth-start">Login</a>
		{% endif %}

      </div>
    </div>
  </div>
{% endblock %}
