{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
		<table>
			{% for row in table %}
			<tr>
				<td><img src="/static/{{ row[0] }}", width=300px /></td>
				<td>{{ row[1] }}</td>
			</tr>
			{% endfor %}
		</table>
      </div>
    </div>
  </div>
{% endblock %}
