{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
		<ul>
			{% for tag in tags %}
			<li><a href="/tag/{{tag}}">{{tag}}</a></li>
			{% endfor %}
		</ul>
      </div>
    </div>
  </div>
{% endblock %}
